

#secrets
secrets.yaml
known_devices.yaml
includes/zone.yaml

#HA Stuff
home-assistant.log
home-assistant_v2.db
.ios.conf
.storage/auth
.storage/*
!.storage/lovelace
.cloud/
deps/
.uuid
emulated_hue_ids.json

#Custom Stuff / Addons
**.pickle
life360.conf
custom_components/
www/

node-red/*
!node-red/flows.json

esphome/
